name: Build one

on:
  workflow_dispatch:
    inputs:
      branch:
        description: PDFium branch
        required: false
        default: main
      version:
        description: PDFium version
        required: false
        default: ""
      target_cpu:
        description: Target CPU
        type: choice
        options:
          - arm
          - arm64
          - x64
          - riscv64
      target_environment:
        description: Target environment
        type: choice
        default: ''
        options:
          - ''
          - musl
      is_debug:
        description: Is debug
        type: boolean
        required: false
        default: false

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      branch: ${{ github.event.inputs.branch }}
      version: ${{ github.event.inputs.version }}
      is_debug: ${{ github.event.inputs.is_debug == 'true' }}
      target_cpu: ${{ github.event.inputs.target_cpu }}
      target_environment: ${{ github.event.inputs.target_environment }}
